:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}


body {
    background: darkslategrey ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#map { height: 85vh; }

#tooltip {
  display: inline-block;
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    font-weight: bold;
    margin: 0 0 5px;
    color: #777;
}

 body {
	 background-color: darkslategrey;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
	 font-family: sans-serif;
}
 .switch-button {
     box-sizing: border-box;
	 margin: 0;
	 background: rgba(255, 255, 255, 0.56);
	 border-radius: 30px;
	 overflow: hidden;
	 width: 240px;
	 text-align: center;
	 font-size: 18px;
	 letter-spacing: 1px;
	 color: #000000;
	 font-weight: bolder;
	 position: relative;
	 padding: 0 120px 0 0;
 }
 .switch-button:before {
	 content: "Venta";
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 width: 120px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 3;
	 pointer-events: none;
}
 .switch-button-checkbox {
	 cursor: pointer;
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 z-index: 2;
}
 .switch-button-checkbox:checked + .switch-button-label:before {
	 transform: translateX(120px);
	 transition: transform 300ms linear;
}
 .switch-button-checkbox + .switch-button-label {
	 position: relative;
	 padding: 15px 0;
	 display: block;
	 user-select: none;
	 pointer-events: none;
}
 .switch-button-checkbox + .switch-button-label:before {
	 content: "";
	 background: #fff;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 left: 0;
	 top: 0;
	 border-radius: 30px;
	 transform: translateX(0);
	 transition: transform 300ms;
}
 .switch-button-checkbox + .switch-button-label .switch-button-label-span {
	 position: relative;
}
