li {
    color: hotpink;
}
body {
    background: darkslategrey ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.mapa{
    min-height: 80vh;
    min-width: 200vh;
    filter: grayscale(80%) invert(92%) contrast(83%);
}